@font-face {
    font-family: 'Gotham Pro';
    src: url("../../static/fonts/GothamPro-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../../static/fonts/GothamPro-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'ALSSchlangesans-Bold';
    src: url("../../static/fonts/ALSSchlangesans-Bold.ttf");
    font-weight: 700;
}